{% extends "base.html.j2" %}

{% block tabs %}

<script>
    var key = "{{key}}";

    function refresh_table() {
        $("maps").render();
    }
</script>

<st:tab code="project" label="Project">
    <st:form name="project" url="/json/project/$key">
        <st:field label="Name" type="text" property="project_name"/>
        <st:field label="Description" type="text" property="description"/>
        <st:footer>
            <st:action mode="view" label="Edit" action="edit"/>
            <st:action mode="edit" label="Save" action="save"/>
            <st:action mode="edit" label="Cancel" action="cancel"/>
        </st:footer>
    </st:form>
    <st:table name="maps" url="/json/map">
        <st:parameter name="parent" value="{{key}}"/>
        <st:sort name="map_name"/>
        <st:header>
            <st:action label="New" action="new"/>
        </st:header>
        <st:column label="Name" type="link" property="map_name" url="/map/$key" width="25%"/>
        <st:column label="Description" type="link" property="description" url="/map/$key" width="75%"/>
        <st:dataform url="/json/project" onsubmitted="refresh_table">
            <st:submitparameter name="parent" value="{{key}}"/>
            <st:field property="project_name" type="text" label="Name"/>
            <st:field property="description" type="text" label="Description"/>
            <st:action mode="new;edit" label="Save" action="save"/>
            <st:action mode="view;new;edit" label="Cancel" action="cancel"/>
        </st:dataform>
        <st:footer>
            <st:action label="New" action="new"/>
        </st:footer>
    </st:table>
</st:tab>

{% endblock tabs %}
